# --- IDE & OS ---
.idea/
.vscode/
*.swp
*.thumbs
.DS_Store
Thumbs.db
*.iml

# --- Frontend (Next.js / Node) ---
**/node_modules/
**/dist/
**/.next/
**/out/
**/.env*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# --- Backend (Spring Boot / Gradle / Java) ---
.gradle/
**/build/
**/out/
**/bin/
**/*.class
**/target/
**/*.war
**/*.ear
**/*.log

# --- Database & Others ---
**/*.sqlite
**/db/data/

### 🔒 Security (Sensitive Data) ###
**/src/main/resources/application.yml
**/src/main/resources/application.properties